<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.bretscherhochstrasser.android.poc.mytimetable">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".OnDeviceStartedReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".locationupdates.RequestLocationUpdatesService"
            android:exported="false" />
        <service
            android:name=".locationupdates.UpdateStationsService"
            android:exported="false" />

        <provider
            android:name=".data.StationContentProvider"
            android:authorities="example.com.locationtest"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".geofences.StationListActivity"
            android:label="@string/title_activity_station_list" />

        <service
            android:name=".geofences.GeofenceTransitionReceiverService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".connections.LoadConnectionsService"
            android:exported="false" />
    </application>

</manifest>
